body {
  background: linear-gradient(red, blue, pink, black);
}

.card {
  background: linear-gradient(135deg, orange 60%, cyan);
}

.btnBg {
  background: linear-gradient(45deg, red, blue);
}
.txtColor {
  color: beige;
  font-size: 18px;
  font-weight: 500;
}

.modalBg {
  background: linear-gradient(#380036, #0cbaba);
}
.modalTxtColor {
  color: beige;
}

.blinkChild {
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
